
<div class="navbar">
    <a href="/home" target="_blank">Home</a>
    <a href="/about" target="_blank">About</a>
    <a href="/student" target="_blank">Student</a>
    <a href="/teacher" target="_blank">Teacher</a>
    <a href="/admin" target="_blank">Admin</a>
    <a href="/contact" target="_blank">Contact Us</a>
</div>