<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="block" style="height: 900px;">
        <div class="top">
            <div id="logo"><img src="/images/image.png" alt="Vasavi College of Engineering" width="110"></div>
            <div id="clg">Vasavi College Of Engineering</div>
        </div>
        <%- include('partials/navbar') %>
        <div class="about">
            <h1>About Us</h1>
            <p>In today's diverse educational landscape, catering to the needs of every learner 
                is crucial for fostering inclusive and effective learning environments. However, 
                identifying students who may require additional support, particularly slow learners, 
                and implementing innovative teaching methods tailored to their needs can be challenging for educators.</p>

                <p>Our project stems from a deep commitment to inclusive education, 
                    where no student is left behind. We understand that traditional educational approaches 
                    may not always meet the needs of every learner, particularly those who require additional support. 
                    That's why we've developed a comprehensive framework for 
                    identifying slow learners and implementing tailored interventions to address their unique learning challenges.</p>
        </div>
    </div>
</body>
</html>