<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/home.css">
    <style>
        .box{
            display: flex;
            justify-content: center;
        }
        .details{
            margin-top: 50px;
            margin-left: 300px;
            text-align: left;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <div class="block" style="height: 800px;">
        <div class="top">
            <div id="logo"><img src="/images/image.png" alt="Vasavi College of Engineering" width="110"></div>
            <div id="clg">Vasavi College Of Engineering</div>
        </div>
        <%- include('partials/navbar') %>
        <div class="details">
            <p>If you want to upload Student details?<a href="/admin_upload">Click Here</a></p>
            <p>If you Want to see student details?<a href="/allstudents">Click Here</a></p>
            <p>If you want to see some suggestions suggested by others?<a href="/suggestions">Click Here</a></p>
        </div>
        
    </div>
    
</body>
</html>
