<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
    
    <div class="block">
        <div class="top">
            <div id="logo"><img src="/images/image.png" alt="Vasavi College of Engineering" width="110"></div>
            <div id="clg">Vasavi College Of Engineering</div>
        </div>
        <%- include('partials/navbar') %>
        <div class="sliders">
            <div id="image"><img id="imag" src="/images/image1.png"></div>
            <button id="but" >Next</button>
        </div>
        <div class="news">
            <h2>News And Announcements
            </h2>
            <ul>
                <li> Time Table | I-INTERNAL TEST TIME-TABLE FOR M.E/M.TECH.-II SEMESTER PROGRAM FOR THE YEAR 2023-2024</li>
                <li> Circular | REVISED : COMPENSATORY CLASSWORK TIME TABLE FOR BE VI-SEMESTER PROGRAMME IN LIEU OF TECHNICAL SKILLS CLASSES SCHEDULED</li>
                <li> Circular | REVISED : REMEDIAL CLASSWORK TIME TABLE FOR BE VI-SEMESTER PROGRAMME IN LIEU OF TECHNICAL SKILLS CLASSES SCHEDULED</li>
                <li> Circular | PARENT TEACHERS MEETING</li>
                <li> Notification | RECENTLY WE HAVE UPLOADED VIDEOES FOR REMEDIAL STUDENTS</li>
                <li> Results | RESULTS OF 2ND SEM STUDENTS</li>
            </ul>
        </div>
        <p id="copy">Copyright ©2024. Vasavi College of Engineering, Ibrahimbagh, Hyderabad, India. All Rights Reserved.</p>
    </div>
    
    <script src="home.js"></script>
</body>
</html>